.form {
    background: transparent;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 100;
    filter: drop-shadow(0px 0px 6px var(--form-color-0));
}
.content {
    padding: 10px 16px;
    filter: none;
    min-height: 30vh;
}
.form .pitchMixinPane {
    --aug-tr: 25px;
    --aug-b-extend1: 50%;
    --aug-border-all: 1px;
    --aug-border-bg: radial-gradient(var(--form-color-0), var(--form-color-1)) 100% 100% / 100% 100%;
    --aug-inlay-all: 4px;
    --aug-inlay-bg: radial-gradient(ellipse at top, var(--form-color-1), transparent)  50% 50% / 100% 100%;
    --aug-inlay-opacity: 0.5;
}

.title {
    height: 40px;
    margin: 0 6px 8px;
    padding-top: 8px;
    filter: drop-shadow(0px 0px 15px #fff);
    border-bottom: 1px solid var(--form-color-1);
}
.title h2 {
    padding: 0;
    margin: 0;
    margin-top: -6px;
    color: #fff;
    text-indent: 30px;
    font-size: 30px;
    line-height: 32px;
}

/* phones */
@media screen and (max-width: 1024px) {
    .title h2 {
      text-indent: 20px;
      font-size: 20px;
      line-height: 32px;
    }
}